name: Integration tests

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      SPOTIPY_CLIENT_ID: ${{ secrets.SPOTIPY_CLIENT_ID }}
      SPOTIPY_CLIENT_SECRET: ${{ secrets.SPOTIPY_CLIENT_SECRET }}
      PYTHON_VERSION: "3.10"
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
      - name: Run non user endpoints integration tests
        run: |
          python -m unittest discover -v tests/integration/non_user_endpoints
